*{
    margin:0;
    padding: 0;
   /* font-family:'poppins',sans-serif; */
    font-family: 'poppins'; 
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
   /* background: #080808; */
   background: black; 
    color: white;
   overflow-x: hidden;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

nav ul li a:hover{
    color:#ff004f;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
    padding-left: 100px;

}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;

}

.header-text h1 span{
    color: #ff004f;
}

.header-text p{
    font-style: italic;
}

.main{
    
    overflow-x: auto;
    background-attachment: fixed;
}

nav .fas{
    display: none;
}

@media (max-width: 600px) {


    td {
      display: block; 
      padding: 5px;
      margin-bottom: 5px;
    }

    .main{
        display: flex;
  flex-direction: column;
    }

    .heading{
        width: 80%;
        height:auto;
       /* display: block; */
        margin: auto;
    }
    .about-col-2{
        display: block;
        margin: auto;
    }
    .tab-contents{
        margin-bottom: 20px;
    }
     .header-text{
        margin-top: 20%;
        font-size: 20px;
        padding-left: 100px;
    
    }
    
    .header-text h1{
        font-size: 40px;
        margin-top: 20px;
    
    }
    
    .header-text h1 span{
        color: #ff004f;
    }
    
    .header-text p{
        font-style: italic;
    }

    .abc a{
        
        justify-content: center;
        align-items: center;
        position:relative;
        right: 350px;
      }
      
      .def a{
        align-items: center;
        justify-content: center;
        align-content: center;
        position:relative;
        right: 360px;

        
      }

      nav .fas{
        display: block;
        font-size: 25px;
      }

      nav ul{
        background: #ff004f;
        position: fixed;
        top:0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
      }

      nav ul li{
        display: block;
        margin: 25px;
      }

      nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
      }
  }

/*------------ about ----------------*/
#about{
    padding: 40px 0;
    color: #ababab;
    
}
.row{
    display: flex;
}

.about-col-2{
    border-radius: 15px;
}

.sub-title{
    font-size: 30px;
    font-weight: 600;
    color:white;
}


.tab-titles{
    display:flex;
    margin:20px 0 40px;
}
.tab-titles li{
    margin-left:50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    list-style: none;
}

.tab-titles li a{
    color: #fff;
    text-decoration: none;
}

.tab-titles li a:hover{
    color:#ff004f;
}

.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 17px;

}

.data{
    padding: 35px;
}


/* --------------- Projects ----------------*/

#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a{
    margin-top: 20px; 
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px; 
    background: white;
    width: 60px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform:scale(1.1);

}

.work:hover .layer{
    height: 100%;

}

.content-left{
    flex-basis: 35%;
}


.content-left p{
    margin-top: 30px;
    text-align: center;

}

.content-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;

}

.social-icons{
    margin-top: 30px;
    text-align: center;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display: inline-block;
    transition: transform 0.5s;
    
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn2{
    display: inline-block;
    background: #ff004f;
    text-decoration: none;
    margin-top: 30px;
    padding:10px 20px; 
    border-radius: 10px;
    color:#fff;
    text-align: center;

}




.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
    background: #262626;

}

.abc a{
    
  margin-left: 520px;
}

.def a{
    margin-left: 550px;
}
